.container-equipo {
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
}
.container-equipo.new-team{
    margin-top: 10px;
}
.container-equipo.new-team .btn{
    border-radius: 0px;
}
.container-equipo .equipo {
    border: 0.5px solid #dedede;
    margin-top: 20px;
    height: auto;
    min-height: 20px;
}
.container-equipo .equipo h4{
    padding-left: 20px;
    margin-top: 0px;
}
.container-equipo .equipo h4 .glyphicon-plus {
    float: right;
}
.container-equipo .equipo h4 .glyphicon-plus:hover {
    cursor: pointer;
    color: lightgreen;
}
.container-equipo .equipo h4 .glyphicon-cog:hover {
    cursor: pointer;
    color: orange;
}
.container-equipo .equipo .player {
    padding: 10px;
    margin: 20px;
    border: 0.5px solid #dedede;
    -webkit-box-shadow: 5px 5px 2px 2px rgba(222,222,222,1);
    -moz-box-shadow: 5px 5px 2px 2px rgba(222,222,222,1);
    box-shadow: 5px 5px 2px 2px rgba(222,222,222,1);
}
.container-equipo .equipo .player:hover {
    cursor: pointer;
    background-color: #e6f7ff;
    font-weight: bold;
}
.container-equipo .equipo .table {
    margin-bottom: 0px;
}
.container-equipo .equipo .table>tbody>tr>td {
    padding: 0px;
    border-top: none !important;
    vertical-align: middle;
}
.container-equipo .equipo .table>tbody>tr>td.icons {
    width: 5%;
}
.container-equipo .equipo .table>tbody>tr>td.name,
    .container-equipo .equipo .table>tbody>tr>td.position {
    width: 40%;
}
.container-equipo .equipo .table>tbody>tr>td.photo {
    width: 10%;
}
.container-equipo .equipo .table>tbody>tr>td .glyphicon-remove:hover {
    color: red;
}
.container-equipo .equipo .table>tbody>tr>td .glyphicon-pencil:hover {
    color: lightskyblue;
}