td {
  width: 25%;
  text-align: center !important;
  vertical-align: middle !important;
}

.c0{
  color: gold !important;
}
.c1{
  color: silver !important;
}
.c2{
  color: #CD7F32 !important;
}
.c3{
  color: #763c28 !important;
}
.c4{
  color: #B5A642 !important;
}
