<div class="row">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="pill" href="#tots">Tots</a></li>
    <li><a data-toggle="pill" href="#sA">Sènior A</a></li>
    <li><a data-toggle="pill" href="#sB">Sènior B</a></li>
    <li><a data-toggle="pill" href="#sC">Sènior C</a></li>
    <li><a data-toggle="pill" href="#jA">Juvenil A</a></li>
    <li><a data-toggle="pill" href="#jB">Juvenil B</a></li>
    <li><a data-toggle="pill" href="#jC">Juvenil C</a></li>
    <li><a data-toggle="pill" href="#iA">Infantil A</a></li>
    <li><a data-toggle="pill" href="#add"><span class="glyphicon glyphicon-plus"></span></a></li>
  </ul>

  <div class="tab-content" style="margin-top: 10px">
    <div id="tots" class="tab-pane fade in active">
      <div class="col-md-2" *ngFor="let j of jugadores">
        <div class="well">
          <h5 class="text-center">
            <p class="dorsal" style="float: left;"><strong>{{j.dorsal}}</strong></p>
            {{j.apodo}}
          </h5>
          <img class="img-responsive" src="../../../assets/plantillas/xim2016.jpg"
               style="max-width: 100%; max-height: 100%;margin-left: auto;margin-right: auto;display: block;"/>
          <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detalles</button>!-->
          <h5 class="text-center">
            {{ j.posicion}}
            <a style="float: right;"><span class="glyphicon glyphicon-pencil"></span></a>
          </h5>
          <p style="text-align: center; word-spacing: inherit"><strong>{{j.estadisticas.goles}}</strong>  <i style="color: #333 !important;" class="fa fa-futbol-o"></i>
            <strong>{{j.estadisticas.asistencias}}</strong>  <i style="color: #333 !important;" class="fa fa-arrow-circle-right"></i>
            <strong>{{j.estadisticas.amarillas}}</strong>  <i style="color: yellow !important;" class="fa fa-square"></i>
            <strong>{{j.estadisticas.rojas}}</strong>  <i style="color: red !important;" class="fa fa-square"></i>
          </p>
        </div>
      </div>
    </div>
    <div id="sA" class="tab-pane fade">
      <div class="col-md-2" *ngFor="let j of seniorA">
        <div class="well">
          <h5 class="text-center">
            <p class="dorsal" style="float: left;"><strong>{{j.dorsal}}</strong></p>
            {{j.apodo}}
          </h5>
          <img class="img-responsive" src="../../../assets/plantillas/xim2016.jpg"
               style="max-width: 100%; max-height: 100%;margin-left: auto;margin-right: auto;display: block;"/>
          <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detalles</button>!-->
          <h5 class="text-center">
            {{ j.posicion}}
          </h5>
        </div>
      </div>
    </div>
    <div id="sB" class="tab-pane fade">
      <div class="col-md-2" *ngFor="let j of seniorB">
        <div class="well">
          <h5 class="text-center">
            <p class="dorsal" style="float: left;"><strong>{{j.dorsal}}</strong></p>
            {{j.apodo}}
          </h5>
          <img class="img-responsive" src="../../../assets/plantillas/xim2016.jpg"
               style="max-width: 100%; max-height: 100%;margin-left: auto;margin-right: auto;display: block;"/>
          <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detalles</button>!-->
          <h5 class="text-center">
            {{ j.posicion}}
          </h5>
        </div>
      </div>
    </div>
    <div id="sC" class="tab-pane fade">
      <div class="col-md-2" *ngFor="let j of seniorC">
        <div class="well">
          <h5 class="text-center">
            <p class="dorsal" style="float: left;"><strong>{{j.dorsal}}</strong></p>
            {{j.apodo}}
          </h5>
          <img class="img-responsive" src="../../../assets/plantillas/xim2016.jpg"
               style="max-width: 100%; max-height: 100%;margin-left: auto;margin-right: auto;display: block;"/>
          <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detalles</button>!-->
          <h5 class="text-center">
            {{ j.posicion}}
          </h5>
        </div>
      </div>
    </div>
    <div id="jA" class="tab-pane fade">
      <div class="col-md-2" *ngFor="let j of juvenilA">
        <div class="well">
          <h5 class="text-center">
            <p class="dorsal" style="float: left;"><strong>{{j.dorsal}}</strong></p>
            {{j.apodo}}
          </h5>
          <img class="img-responsive" src="../../../assets/plantillas/xim2016.jpg"
               style="max-width: 100%; max-height: 100%;margin-left: auto;margin-right: auto;display: block;"/>
          <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detalles</button>!-->
          <h5 class="text-center">
            {{ j.posicion}}
          </h5>
        </div>
      </div>
    </div>
    <div id="jB" class="tab-pane fade">
      <div class="col-md-2" *ngFor="let j of juvenilB">
        <div class="well">
          <h5 class="text-center">
            <p class="dorsal" style="float: left;"><strong>{{j.dorsal}}</strong></p>
            {{j.apodo}}
          </h5>
          <img class="img-responsive" src="../../../assets/plantillas/xim2016.jpg"
               style="max-width: 100%; max-height: 100%;margin-left: auto;margin-right: auto;display: block;"/>
          <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detalles</button>!-->
          <h5 class="text-center">
            {{ j.posicion}}
          </h5>
        </div>
      </div>
    </div>
    <div id="jC" class="tab-pane fade">
      <div class="col-md-2" *ngFor="let j of juvenilC">
        <div class="well">
          <h5 class="text-center">
            <p class="dorsal" style="float: left;"><strong>{{j.dorsal}}</strong></p>
            {{j.apodo}}
          </h5>
          <img class="img-responsive" src="../../../assets/plantillas/xim2016.jpg"
               style="max-width: 100%; max-height: 100%;margin-left: auto;margin-right: auto;display: block;"/>
          <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detalles</button>!-->
          <h5 class="text-center">
            {{ j.posicion}}
          </h5>
        </div>
      </div>
    </div>
    <div id="iA" class="tab-pane fade">
      <div class="col-md-2" *ngFor="let j of infantilA">
        <div class="well">
          <h5 class="text-center">
            <p class="dorsal" style="float: left;"><strong>{{j.dorsal}}</strong></p>
            {{j.apodo}}
          </h5>
          <img class="img-responsive" src="../../../assets/plantillas/xim2016.jpg"
               style="max-width: 100%; max-height: 100%;margin-left: auto;margin-right: auto;display: block;"/>
          <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detalles</button>!-->
          <h5 class="text-center">
            {{ j.posicion}}
          </h5>
        </div>
      </div>
    </div>
    <div id="add" class="tab-pane fade">
      <app-admin-add-jugador></app-admin-add-jugador>
    </div>
  </div>
</div>
