h5{
  background-color: #333;
  color: #fcfcfc;
  border-radius: 3px;
  border-color: #101010;
  padding: 10px;
}
.dorsal{
  background-color: transparent;
  color: #fcfcfc;
  border-radius: 3px;
}
li a{
  color: #333;
  font-weight: bold;
}
a:hover {
  cursor: pointer;
}

@media  screen and (min-width: 993px) {
  .small_pa {
  }
}

@media  screen and (max-width: 993px) {
  .small_pa {
    display: inline-block;
    width: 33% !important;
  }
}
