h5.up{
  background-color: #333;
  color: #fcfcfc;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-color: #101010;
  padding: 10px;
  margin: 0px;
}

h5.down{
  background-color: #333;
  color: #fcfcfc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-color: #101010;
  padding: 10px;
  margin: 0px;
}
.dorsal{
  background-color: transparent;
  color: #fcfcfc;
  border-radius: 3px;
}
li a{
  color: #333;
  font-weight: bold;
}
a:hover {
  cursor: pointer;
}

@media  screen and (min-width: 993px) {
  .small_pa {
  }
}

@media  screen and (max-width: 993px) {
  .small_pa {
    display: inline-block;
    width: 50% !important;
  }
}

.well {
  padding: 5px !important;
  background-image: linear-gradient(to bottom, #d3ccde, #95959b 100%) !important;
}
