<div class="row">
  <div class="col-md-4" *ngFor="let j of jugadores">
    <h6 class="text-center">
      <p id="dorsal" style="float: left;">{{j.dorsal}}</p>
      {{j.apodo}}
    </h6>
    <img class="img-responsive" src="http://localhost/plantillas/{{j.imagen}}"
         style="max-width: 100%; max-height: 100%; margin-left: auto;margin-right: auto;display: block;"/>
    <h6 class="text-center">
      {{ j.posicion}}
    </h6>
    <p style="text-align: center; word-spacing: inherit"><strong>{{j.estadisticas.goles}}</strong>  <i style="color: #333 !important;" class="fa fa-futbol-o"></i>
    </p>
  </div>
</div>
