h6{
  background-color: #333;
  color: #fcfcfc;
  border-radius: 3px;
  border-color: #101010;
  padding: 5px;
  margin: 0px;
}
#dorsal, #dorsal_s{
  background-color: transparent;
  color: #fcfcfc;
  border-radius: 3px;
}

@media  screen and (min-width: 993px) {
  #small_g {
  }
}

@media  screen and (max-width: 993px) {
  #small_g {
    display: inline-block;
    width: 33% !important;
  }
}
.well{
  padding: 5px !important;
  background-image: linear-gradient(to bottom, #d6b700 0, #916200 100%) !important;
}
