<div class="row">
  <div class="col-md-4">
    <div class="well" style="height: auto;">
      <app-ultimos-partidos></app-ultimos-partidos>
    </div>
  </div>
  <div class="col-md-4">
    <!--<div class="well" style="height: auto;">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">


        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>


        <div class="carousel-inner">
           <div class="item active">
             <img id="seniorA_photo" class="img-responsive" src="../../../assets/inicio/seniorA.jpg"/>
           </div>

           <div class="item">
             <img class="img-responsive" src="../../../assets/inicio/seniorB.jpg"/>
           </div>

           <div class="item">
             <img class="img-responsive" src="../../../assets/inicio/seniorC.jpg"/>
           </div>
         </div>


        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>!-->
    <div class="well" style="height: auto;">
      <h4 class="text-center">
        ELS MILLORS
      </h4>
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a data-toggle="pill" href="#ggolejadors">Golejadors</a></li>
        <li><a data-toggle="pill" href="#gassistents">Assistents</a></li>
        <li><a data-toggle="pill" href="#gamonestats">Amonestats</a></li>
      </ul>

      <div class="tab-content">
        <div id="ggolejadors" class="tab-pane fade in active">
          <app-max-gol-club></app-max-gol-club>
        </div>
        <div id="gassistents" class="tab-pane fade">
          <app-max-asis-club></app-max-asis-club>
        </div>
        <div id="gamonestats" class="tab-pane fade">
          <app-max-amon-club></app-max-amon-club>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well" style="height: auto;">
      <app-proximos-partidos></app-proximos-partidos>
    </div>
  </div>
</div>

<app-footer-acceso></app-footer-acceso>

