<div class="row section-inicio less-margin-right">
  <div class="col-md-4 inicio">
      <app-inicio-partidos
        [title] = "current_title" 
        [key] = "current_key"
        [jornada] = "current">
      </app-inicio-partidos>
  </div>
  <div class="col-md-4 inicio">
    <app-stats-club></app-stats-club>
  </div>

  <div class="col-md-4 inicio">
    <app-inicio-partidos 
      [title] = "next_title"
      [key] = "next_key"
      [jornada] = "next">
    </app-inicio-partidos>
  </div>
</div>

<app-footer-acceso></app-footer-acceso>

