li a{
  color: #333;
  font-size: 18px;
}
h4{
  background-color: #333;
  color: #fcfcfc;
  border-radius: 3px;
  border-color: #101010;
  padding: 10px;
}
.nav-tabs li a:hover{
  color: #ff9300;
}
.nav-tabs li.active a{
  color: #fcfcfc !important;
  background-color: #333 !important;
}
.nav-tabs li a{
  font-size: 13px !important;
}
.tab-content {
  padding: 5px !important;
}

.carrousel-inner {
  padding-left: 15px;
  padding-right: 15px;
}
