<div class="row">
  <div class="col-md-4">
    <div class="well" style="height: auto; margin-left: 5px; margin-right: 5px;">
      <app-ultimos-partidos></app-ultimos-partidos>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well" style="height: auto;">
      <h4 class="text-center">
        ELS MILLORS
      </h4>
      <ul class="nav nav-tabs nav-justified nav-fill">
        <li class="active"><a data-toggle="pill" href="#ggolejadors">Golejador</a></li>
        <li><a data-toggle="pill" href="#gassistents">Assistent</a></li>
        <li><a data-toggle="pill" href="#gamonestats">Amonestat</a></li>
        <li><a data-toggle="pill" href="#porters">Porter</a></li>
      </ul>

      <div class="tab-content" style="margin: 5px">
        <div id="ggolejadors" class="tab-pane fade in active">
          <app-max-gol-club></app-max-gol-club>
        </div>
        <div id="gassistents" class="tab-pane fade">
          <app-max-asis-club></app-max-asis-club>
        </div>
        <div id="gamonestats" class="tab-pane fade">
          <app-max-amon-club></app-max-amon-club>
        </div>
        <div id="porters" class="tab-pane fade">
          <app-min-gol-club></app-min-gol-club>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well" style="height: auto; margin-left: 5px; margin-right: 5px;">
      <app-proximos-partidos></app-proximos-partidos>
    </div>
  </div>
</div>

<app-footer-acceso></app-footer-acceso>

