<div class="row">

  <form #cronica1Form="ngForm">
    <div class="col-md-4 col-md-offset-2">
      <div class="custom-card">
        <div class="form-group">
          <label>Jornada</label>
          <input type="number" class="form-control" [(ngModel)]="jornada" name="jornada" id="j" required>
        </div>
        <div class="form-group text-center">
          <button type="button" class="btn btn-primary" (click)="getPartido()">Cercar</button>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-success" (click)="saveCronica()" [disabled]="!cronica1Form.form.valid">Aceptar</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="custom-card">
        <app-loader2 [loading]="loading"></app-loader2>
      <div class="form-group">
        <label for="n">Local</label>
        <input type="text" class="form-control" [(ngModel)]="local" name="local" id="n" required>
      </div>

      <div class="form-group">
        <label for="c">Resultat</label>
        <input type="text" class="form-control" [(ngModel)]="resultado" name="resultado" id="c" required>
      </div>
      <div class="form-group">
        <label for="s">Visitant</label>
        <input type="text" class="form-control" [(ngModel)]="visitante" name="visitante" id="s" required>
      </div>
      </div>
    </div>
  </form>
</div>
