<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">

      <div class="alert alert-success" *ngIf="status == 'success'">
        <p class="text-center">Benvingut</p>
      </div>

      <div class="alert alert-danger" *ngIf="status == 'error'">
        <p class="text-center">Dades incorrectes</p>
      </div>

    <form (submit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <label for="u">Usuari</label>
        <input type="text" class="form-control" [(ngModel)]="usuario" name="nombre" id="u" required>
      </div>
      <div class="form-group">
        <label for="p">Contrasenya</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="apellido" id="p" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Entrar</button>
      </div>
    </form>
    </div>
  </div>
</div>
