<div class="row">
  <div class="col-md-12">
    <table class="table" id="resultados">
      <tbody>
      <tr *ngFor="let j of jugadores, let index = index">
        <td style="text-align: left !important;"><i class="c{{index}} fa fa-trophy fa-2x"></i></td>
        <td><strong>{{j.apodo}}</strong></td>
        <td><strong>{{j.equipo}}</strong></td>
        <td><strong>{{j.estadisticas.asistencias}}</strong>  <i style="color: #333 !important;" class="fa fa-arrow-circle-right"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
