h6#up{
  background-color: #333;
  color: #fcfcfc;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-color: #101010;
  padding: 10px;
  margin: 0px;
}

h6#down{
  background-color: #333;
  color: #fcfcfc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-color: #101010;
  padding: 10px;
  margin: 0px;
}
#dorsal{
  background-color: transparent;
  color: #fcfcfc;
  border-radius: 3px;
}

@media  screen and (min-width: 993px) {
  #small_asis {
  }
}

@media  screen and (max-width: 993px) {
  #small_asis {
    display: inline-block;
    width: 33% !important;
  }
}
.well{
  padding: 5px !important;
  background-image: linear-gradient(to bottom, #d6b700 0, #916200 100%) !important;
}
