<div class="container"></div>
<h4 class="text-center">
  ÚLTIMS PARTITS
  <app-loader style="float: right" [loading]="loading"></app-loader>
</h4>



<ul class="nav nav-tabs nav-justified" *ngIf="!loading">
  <li class="active"><a data-toggle="pill" href="#usenior">Sènior</a></li>
  <li><a data-toggle="pill" href="#ujuvenil">Juvenil</a></li>
  <li><a data-toggle="pill" href="#ucadete">Cadete</a></li>
</ul>

<div class="tab-content" *ngIf="!loading">
  <div id="usenior" class="tab-pane fade in active">
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td class="equip"><p class="text-center">{{ partidoSeniorA?.local }}</p></td>
          <td align="center" class="infor">
            <p class="text-center menor">{{ partidoSeniorA?.fecha }}</p>
            <p class="text-center result">{{ partidoSeniorA?.resultado }}</p>
            <p class="text-center menor">{{ partidoSeniorA?.lugar }}</p>
          </td>
          <td class="equip"><p class="text-center">{{ partidoSeniorA?.visitante }}</p></td>
        </tr>
        <tr>
          <td class="equip"><p class="text-center">{{ partidoSeniorB?.local }}</p></td>
          <td align="center" class="infor">
            <p class="text-center menor">{{ partidoSeniorB?.fecha }}</p>
            <p class="text-center result">{{ partidoSeniorB?.resultado }}</p>
            <p class="text-center menor">{{ partidoSeniorB?.lugar }}</p>
          </td>
          <td class="equip"><p class="text-center">{{ partidoSeniorB?.visitante }}</p></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="ujuvenil" class="tab-pane fade">
    <table class="table table-condensed">
      <tbody>
      <tr>
        <td class="equip"><p class="text-center">{{ partidoJuvenilA?.local }}</p></td>
        <td align="center" class="infor">
          <p class="text-center  menor">{{ partidoJuvenilA?.fecha }}</p>
          <p class="text-center result">{{ partidoJuvenilA?.resultado }}</p>
          <p class="text-center  menor">{{ partidoJuvenilA?.lugar }}</p>
        </td>
        <td class="equip"><p class="text-center">{{ partidoJuvenilA?.visitante }}</p></td>
      </tr>
      <tr>
        <td class="equip"><p class="text-center">{{ partidoJuvenilB?.local }}</p></td>
        <td align="center" class="infor">
          <p class="text-center  menor">{{ partidoJuvenilB?.fecha }}</p>
          <p class="text-center result">{{ partidoJuvenilB?.resultado }}</p>
          <p class="text-center  menor">{{ partidoJuvenilB?.lugar }}</p>
        </td>
        <td class="equip"><p class="text-center">{{ partidoJuvenilB?.visitante }}</p></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="ucadete" class="tab-pane fade">
   <table class="table table-condensed">
      <tbody>
      <tr>
        <td class="equip"><p class="text-center">{{ partidoCadeteA?.local }}</p></td>
        <td align="center" class="infor">
          <p class="text-center  menor">{{ partidoCadeteA?.fecha }}</p>
          <p class="text-center result">{{ partidoCadeteA?.resultado }}</p>
          <p class="text-center  menor">{{ partidoCadeteA?.lugar }}</p>
        </td>
        <td class="equip"><p class="text-center">{{ partidoCadeteA?.visitante }}</p></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
