<div class="container"></div>
<h4 class="text-center">
  <strong>ÚLTIMS PARTITS</strong>
</h4>

<table class="table table-condensed">
  <tbody>
  <tr>
    <td></td>
    <td><h5 class="text-center"><strong>SÈNIOR</strong></h5></td>
    <td></td>
  </tr>
  <tr>
    <td class="equip"><p class="text-center">{{ partidoSeniorA.local }}</p></td>
    <td class="infor" align="center">
      <p class="text-center menor">{{ partidoSeniorA.fecha }}</p>
      <p class="text-center">{{ partidoSeniorA.resultado }}</p>
      <p class="text-center menor">{{ partidoSeniorA.lugar }}</p>
    </td>
    <td class="equip"><p class="text-center">{{ partidoSeniorA.visitante }}</p></td>
  </tr>
  <tr>
    <td style="width: 33% !important; vertical-align: middle"><p class="text-center">{{ partidoSeniorB.local }}</p></td>
    <td align="center" style="width: 33% !important;">
      <p class="text-center" style="font-size: 12px">{{ partidoSeniorB.fecha }}</p>
      <p class="text-center">{{ partidoSeniorB.resultado }}</p>
      <p class="text-center" style="font-size: 12px">{{ partidoSeniorB.lugar }}</p>
    </td>
    <td style="width: 33% !important; vertical-align: middle"><p class="text-center">{{ partidoSeniorB.visitante }}</p></td>
  </tr>
  <tr>
    <td style="width: 33% !important; vertical-align: middle"><p class="text-center">{{ partidoSeniorC.local }}</p></td>
    <td align="center" style="width: 33% !important;">
      <p class="text-center" style="font-size: 12px">{{ partidoSeniorC.fecha }}</p>
      <p class="text-center">{{ partidoSeniorC.resultado }}</p>
      <p class="text-center" style="font-size: 12px">{{ partidoSeniorC.lugar }}</p>
    </td>
    <td style="width: 33% !important; vertical-align: middle"><p class="text-center">{{ partidoSeniorC.visitante }}</p></td>
  </tr>
  <tr>
    <td></td>
    <td><h5 class="text-center"><strong>JUVENIL</strong></h5></td>
    <td></td>
  </tr>
  <tr>
    <td style="width: 33% !important; vertical-align: middle"><p class="text-center">{{ partidoJuvenilA.local }}</p></td>
    <td align="center" style="width: 33% !important;">
      <p class="text-center" style="font-size: 12px">{{ partidoJuvenilA.fecha }}</p>
      <p class="text-center">{{ partidoJuvenilA.resultado }}</p>
      <p class="text-center" style="font-size: 12px">{{ partidoJuvenilA.lugar }}</p>
    </td>
    <td style="width: 33% !important; vertical-align: middle"><p class="text-center">{{ partidoJuvenilA.visitante }}</p></td>
  </tr>
  <tr>
    <td style="width: 33% !important; vertical-align: middle"><p class="text-center">{{ partidoJuvenilB.local }}</p></td>
    <td align="center" style="width: 33% !important;">
      <p class="text-center" style="font-size: 12px">{{ partidoJuvenilB.fecha }}</p>
      <p class="text-center">{{ partidoJuvenilB.resultado }}</p>
      <p class="text-center" style="font-size: 12px">{{ partidoJuvenilB.lugar }}</p>
    </td>
    <td style="width: 33% !important; vertical-align: middle"><p class="text-center">{{ partidoJuvenilB.visitante }}</p></td>
  </tr>
  <tr>
    <td style="width: 33% !important; vertical-align: middle"><p class="text-center">{{ partidoJuvenilC.local }}</p></td>
    <td align="center" style="width: 33% !important;">
      <p class="text-center" style="font-size: 12px">{{ partidoJuvenilC.fecha }}</p>
      <p class="text-center">{{ partidoJuvenilC.resultado }}</p>
      <p class="text-center" style="font-size: 12px">{{ partidoJuvenilC.lugar }}</p>
    </td>
    <td style="width: 33% !important; vertical-align: middle"><p class="text-center">{{ partidoJuvenilC.visitante }}</p></td>
  </tr>
  </tbody>
</table>
