<div class="row">
  <div class="col-md-4 col-md-offset-4 custom-card">
    <form (submit)="submitJugador()" #jugadorForm="ngForm">
      <div class="form-group">
        <label for="n">Equip</label>
        <input type="text" class="form-control" [(ngModel)]="jugador.equipo" name="equipo" id="equip" required>
      </div>
      <div class="form-group">
        <label for="n">Nom</label>
        <input type="text" class="form-control" [(ngModel)]="jugador.nombre" name="nom" id="n" required>
      </div>
      <div class="form-group">
        <label for="c">Cognom</label>
        <input type="text" class="form-control" [(ngModel)]="jugador.apellido" name="cognom" id="c" required>
      </div>
      <div class="form-group">
        <label for="s">Sobrenom</label>
        <input type="text" class="form-control" [(ngModel)]="jugador.apodo" name="apodo" id="s" required>
      </div>
      <div class="form-group">
        <label for="d">Dorsal</label>
        <input type="number" class="form-control" [(ngModel)]="jugador.dorsal" name="dorsal" id="d" required>
      </div>
      <div class="form-group">
        <label for="p">Posició</label>
        <input type="text" class="form-control" [(ngModel)]="jugador.posicion" name="posicio" id="p" required>
      </div>
      <div class="form-group">
        <label>Tipus:</label>
        <select class="form-control" [(ngModel)]="jugador.tipo" name="tipo" required>
          <option value="Jugador">Jugador</option>
          <option value="Porter">Porter</option>
          <option value="Tècnic">Técnic</option>
        </select>
      </div>
      <br>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-success" [disabled]="!jugadorForm.form.valid">Afegir</button>
        <button [routerLink]="['/admin/admin-equips']" class="btn btn-warning" >Cancel·lar</button>
      </div>
    </form>
  </div>
</div>

