<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <form (submit)="submitJugador()" #jugadorForm="ngForm">
        <div class="form-group">
          <label for="n">Nom</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.nombre" name="nom" id="n" required>
        </div>
        <div class="form-group">
          <label for="c">Cognom</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.apellido" name="cognom" id="c" required>
        </div>
        <div class="form-group">
          <label for="s">Sobrenom</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.apodo" name="cognom" id="s" required>
        </div>
        <div class="form-group">
          <label for="d">Dorsal</label>
          <input type="number" class="form-control" [(ngModel)]="jugador.dorsal" name="dorsal" id="d" required>
        </div>
        <div class="form-group">
          <label for="p">Posició</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.posicion" name="posicio" id="p" required>
        </div>
        <label>Equip:</label>
        <div class="form-inline">
          <div class="form-group">
            <input name="group20" type="radio" id="radio120" value="Sènior A" [(ngModel)]="jugador.equipo" required>
            <label for="radio120"> Sènior A </label>
          </div>

          <div class="form-group">
            <input name="group20" type="radio" id="radio121" value="Sènior B" [(ngModel)]="jugador.equipo" required>
            <label for="radio121"> Sènior B </label>
          </div>

          <div class="form-group">
            <input name="group20" type="radio" id="radio122" value="Sènior C" [(ngModel)]="jugador.equipo" required>
            <label for="radio122"> Sènior C </label>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group">
            <input name="group20" type="radio" id="radio123" value="Juvenil A" [(ngModel)]="jugador.equipo" required>
            <label for="radio123"> Juvenil A </label>
          </div>

          <div class="form-group">
            <input name="group20" type="radio" id="radio124" value="Juvenil B" [(ngModel)]="jugador.equipo" required>
            <label for="radio124"> Juvenil B </label>
          </div>

          <div class="form-group">
            <input name="group20" type="radio" id="radio125" value="Juvenil C" [(ngModel)]="jugador.equipo" required>
            <label for="radio125"> Juvenil C </label>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group">
            <input name="group20" type="radio" id="radio126" value="Infantil A" [(ngModel)]="jugador.equipo" required>
            <label for="radio126"> Infantil A </label>
          </div>
        </div>
        <br>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!jugadorForm.form.valid">Afegir</button>
        </div>

        <div class="alert alert-success" *ngIf="status == 'success'">
          Jugador afegit
        </div>

        <div class="alert alert-danger" *ngIf="status == 'error'">
          Error
        </div>
      </form>
    </div>
  </div>
</div>
