h4{
  background-color: #333;
  color: #fcfcfc;
  border-radius: 3px;
  border-color: #101010;
  padding: 10px;
}
.custom_loader {
  position: fixed;
  bottom: 0%;
  width: 100%;
}

th,td{
  width: 14% !important;
}
.separador {
  bottom: 5%;
  margin-bottom: 10% !important;
}

span:hover{
  cursor: pointer;
}
