<div class="row">
  <div class="col-md-5 col-md-offset-1" *ngIf="!infantil">
  <h4 id  class="text-center">
    Primera volta
  </h4><br>
  <div class="well" *ngFor="let jornada of calendario_1">
    <table class="table table-striped">
      <thead style="font-weight: bold;">
      <td class="jornada"><h4><strong>{{jornada.numero}}</strong></h4></td>
      <td></td>
      <td class="fecha"><h4><strong>{{jornada.fecha}}</strong></h4></td>
      </thead>
      <tbody>
      <tr *ngFor="let p of jornada.partidos">
        <td>{{p.local}}</td>
        <td>{{p.res_local}} - {{p.res_visitante}}</td>
        <td style="width:40%">{{p.visitante}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div class="col-md-5" *ngIf="!infantil">
  <h4 class="text-center">
    Segona volta
  </h4><br>
    <div class="well" *ngFor="let jornada of calendario_2">
      <table class="table table-striped">
        <thead style="font-weight: bold;">
        <td class="jornada"><h4><strong>{{jornada.numero}}</strong></h4></td>
        <td></td>
        <td class="fecha"><h4><strong>{{jornada.fecha}}</strong></h4></td>
        </thead>
        <tbody>
        <tr *ngFor="let p of jornada.partidos">
          <td>{{p.local}}</td>
          <td>{{p.res_local}} - {{p.res_visitante}}</td>
          <td>{{p.visitante}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-4" *ngIf="infantil">
    <div class="well">
    <a target="_blank" href="http://www.elconsell.cat/ceeb/xml/fase1/jornadaxml.php?&p2=4182">
      <h3 class="text-center"><span class="glyphicon glyphicon-hand-down"></span></h3>
      <h3 class="text-center">
      <span class="label label-primary">
        Consulta el calendari
      </span>
      </h3>
    </a>
  </div>
  </div>
</div>
