table{
  text-align: center;
}
table td{
  width: 33% !important;
}
.row{
  margin-top: 10px !important;
}
#jornada{
  text-align: left !important;
}
#fecha{
  text-align: right !important;
}

@media  screen and (min-width: 600px) {
  .well {
    font-size: 14px;
  }
}

@media  screen and (max-width: 600px) {

  .well{
    font-size: 11px !important;
  }
}
a:hover{
  text-decoration: none;
}

