<div class="row">
  <div class="well">
    <table class="table table-striped" id="resultados">
      <tbody>
      <tr *ngFor="let j of jugadores">
        <td>
          <img class="img-responsive" src="http://localhost/plantillas/{{j.imagen}}"
               style="max-width: 30%; max-height: 40%;margin-left: auto;margin-right: auto;display: block;"/>
        </td>
        <td style="vertical-align: middle !important;"><strong>{{j.nombre}}</strong></td>
        <td style="vertical-align: middle !important;"><strong>{{j.posicion}}</strong></td>
        <td style="vertical-align: middle !important;">
          <strong>{{j.estadisticas.amarillas}}</strong>  <i style="color: yellow !important;" class="fa fa-square"></i>
          <strong>{{j.estadisticas.rojas}}</strong>  <i style="color: red !important;" class="fa fa-square"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
