<div class="row">
    <table class="table" id="resultados">
      <tbody>
      <tr *ngFor="let j of jugadores">
        <td>
          <img class="img-responsive" src="/plantillas/{{j.imagen}}"
               style="max-width: 20%; max-height: 30%;margin-left: auto;margin-right: auto;display: block;"/>
        </td>
        <td style="vertical-align: middle !important;"><strong>{{j.apodo}}</strong></td>
        <td style="vertical-align: middle !important;"><strong>{{j.posicion}}</strong></td>
        <td style="vertical-align: middle !important;">
          <strong>{{j.estadisticas.amarillas}}</strong>  <i style="color: yellow !important;" class="fa fa-square"></i>
          <strong>{{j.estadisticas.rojas}}</strong>  <i style="color: red !important;" class="fa fa-square"></i>
        </td>
      </tr>
      </tbody>
    </table>
</div>
