<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="col-md-2">
      <h4><span (click)="downJornada()" style="float: left" class="glyphicon glyphicon-menu-left"></span></h4>
    </div>
    <div class="col-md-8">
      <h4 class="text-center">Jornada {{actual}}</h4>
    </div>
    <div class="col-md-2">
      <h4><span (click)="upJornada()" style="float: right" class="glyphicon glyphicon-menu-right"></span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center" id="now" (click)="ngOnInit()">Actual</p>
      <app-loader2 [loading]="loading"></app-loader2>
    </div>
  </div>
  <div class="row">
    <div class="well">
      <table class="table table-striped" id="resultados">
        <thead style="font-weight: bold;">
        <td>Local</td>
        <td></td>
        <td>Visitant</td>
        </thead>
        <tbody>
        <tr *ngFor="let p of jornada">
          <td>{{p.local}}</td>
          <td>{{p.resultado}}</td>
          <td>{{p.visitante}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="well">
      <table class="table">
        <thead style="font-weight: bold;">
        <td>Posició</td>
        <td>Equip</td>
        <td>Punts</td>
        <td>PG</td>
        <td>PE</td>
        <td>PP</td>
        <td>GF</td>
        <td>GC</td>
        </thead>
        <tbody>
        <tr *ngFor="let e of clasificacion">
          <td>{{e.posicion}}</td>
          <td>{{e.nombre}}</td>
          <td>{{e.puntos}}</td>
          <td>{{e.partidos.ganados}}</td>
          <td>{{e.partidos.empatados}}</td>
          <td>{{e.partidos.perdidos}}</td>
          <td>{{e.goles.favor}}</td>
          <td>{{e.goles.contra}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

