h4{
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 17px;
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
}
table {
  margin-bottom: 0px;
}
table#resultados{
  text-align: center !important;
}
table#resultados td{
  width: 33% !important;
}
.row{
  margin-top: 10px !important;
}
span:hover{
  cursor: pointer !important;
  font-weight: bold;
}
#now:hover{
  cursor: pointer !important;
  font-weight: bold;
}
.row{
  margin-top: 10px !important;
}

@media screen and (min-width: 600px) {
  .hide_mobile_small {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .hide_mobile_big {
    display: none;
  }
  table#resultados td{
    font-size: 11px;
  }
}
a:hover{
  text-decoration: none;
}
.custom-card {
  background-color: #fcfcfc;
}
.custom-card.resultados {
  padding-top: 20px;
}
.custom-card.clasificacion {
  padding-top: 0px;
  padding-bottom: 0px;
}
.table.jornada>tbody>tr>td {
  border-top: none;
}
.seccion-resultados {
  padding-left: 15%;
  padding-right: 15%;
  background-color: #f5f5f5;
  padding-bottom: 40px;
  border-left: 0.5px solid #dedede !important;
  border-right: 0.5px solid #dedede !important;
  border-bottom: 0.5px solid #dedede !important;
}
#cronica table td {
  text-align: center;
}