.sortida{
  text-decoration: none;
  color: #737373;
}
.sortida:hover{
  text-decoration: underline;
  color: #434343;
  cursor: pointer;
}
.footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
}
.footer .row {
  margin-right: 0px;
  margin-left: 0px;
}
.sortida-container{
  float: left;
}
