<div class="row">
  <div class="col-md-7">
    <table class="table table-striped table-responsive">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Dorsal</th>
        <th>Posición</th>
        <th>Goles</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let j of jugadores">
        <td>{{ j.nombre }}</td>
        <td>{{ j.apellido }}</td>
        <td>{{ j.dorsal }}</td>
        <td>{{ j.posicion }}</td>
        <td>{{ j.estadisticas.goles }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
