h4{
  background-color: #333;
  color: #fcfcfc;
  border-radius: 3px;
  border-color: #101010;
  padding: 10px;
  margin: 0px;
}

h5.up{
  background-color: #333;
  color: #fcfcfc;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-color: #101010;
  padding: 10px;
  margin: 0px;
}

h5.down{
  background-color: #333;
  color: #fcfcfc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-color: #101010;
  padding: 10px;
  margin: 0px;
}

#dorsal{
  background-color: transparent;
  color:  #fcfcfc;
  border-radius: 3px;
}
.row{
  display: flex; /* equal height of the children */
  margin-top: 10px !important;
}
a:hover{
  text-decoration: none !important;
}

@media  screen and (min-width: 993px) {
  .small_p {
  }
}

@media  screen and (max-width: 993px) {
  .small_p {
    display: inline-block;
    width: 50% !important;
  }
}

.well {
  padding: 5px !important;
  background-image: linear-gradient(to bottom, #95959b, #d3ccde 100%) !important;
}
