h5{
  background-color: #333;
  color: #fcfcfc;
  border-radius: 3px;
  border-color: #101010;
  padding: 10px;
}
#dorsal{
  background-color: transparent;
  color:  #fcfcfc;
  border-radius: 3px;
}
.row{
  margin-top: 10px !important;
}
a:hover{
  text-decoration: none !important;
}

@media  screen and (min-width: 993px) {
  .small_p {
  }
}

@media  screen and (max-width: 993px) {
  .small_p {
    display: inline-block;
    width: 33% !important;
  }
}
