h4{
  background-color: #333;
  color: #ebebeb;
  border-radius: 3px;
  border-color: #101010;
  padding: 10px;
}
#twitter_c{
  font-size: 50px !important;
  color: #55ACEE !important;
}
#twitter_c:hover{
  text-decoration: none !important;
}
#insta_c{
  font-size: 50px !important;
  background: #fbad50; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-135deg, #8a3ab9, #cd486b, #fbad50, #fccc63); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-135deg, #8a3ab9, #cd486b, #fbad50, #fccc63); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-135deg, #8a3ab9, #cd486b, #fbad50, #fccc63); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-135deg, #8a3ab9, #cd486b, #fbad50, #fccc63); /* Standard syntax */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
