#footer {
  position: fixed;
  bottom: 0%;
}
.panel-default {
  margin-top: 20px;
  border-radius: 0px;
}
.panel-default>.panel-heading {
  background-image: none;
}
.footer{
  display: none !important;
}
#exit{
  text-decoration: none;
  color: #737373;
}
#exit:hover{
  text-decoration: underline;
  color: #434343;
}

li:hover {
  cursor: pointer;
  font-weight: bold;
}
