<div class="container-fluid">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Administración d'equips</a>
        </h5>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item" (click)="toPlantillas()">Gestió de plantilles</li>
          <li class="list-group-item" (click)="toStats()">Gestión d'estadístiques</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">Administració de cròniques</a>
        </h5>
      </div>
      <div id="collapse2" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item" (click)="toCronicas()">Gestió de cròniques</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-footer-sortida></app-footer-sortida>

