<div class="row">
  <div class="col-md-10 col-md-offset-1 container-equipo new-team">
    <button [routerLink]="['/admin/admin-equips']" type="button" class="btn btn-info">A gestió d'equips</button>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-6 custom-card">
      <form (submit)="updateDatosJugador(jugador._id)" #updateForm="ngForm">
        <div class="form-group">
          <label for="n">Nom</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.nombre" name="nom" id="n" required>
        </div>
        <div class="form-group">
          <label for="c">Cognom</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.apellido" name="cognom" id="c" required>
        </div>
        <div class="form-group">
          <label for="s">Sobrenom</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.apodo" name="apodo" id="s" required>
        </div>
        <div class="form-group">
          <label for="d">Dorsal</label>
          <input type="number" class="form-control" [(ngModel)]="jugador.dorsal" name="dorsal" id="d" required>
        </div>
        <div class="form-group">
          <label for="p">Posició</label>
          <input type="text" class="form-control" [(ngModel)]="jugador.posicion" name="posicio" id="p" required>
        </div>
        <div class="form-group">
          <label>Tipus:</label>
          <select class="form-control" [(ngModel)]="jugador.tipo" name="tipo" required>
            <option value="Jugador">Jugador</option>
            <option value="Porter">Porter</option>
            <option value="Tècnic">Técnic</option>
          </select>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-success dades" [disabled]="!updateForm.form.valid">Actualitzar</button>
        </div>
      </form>
    </div>
    <div class="col-md-4 col-md-offset-1 custom-card">
      <img class="img-responsive jugador-image" src="/plantillas/{{jugador.imagen}}"
          style="max-width: 100%; max-height: 100%;margin-left: auto;margin-right: auto;display: block;"/>
      <br>
      <h4 class="text-center">Imatge</h4>
      <form (submit)="uploadImage(jugador._id)" #updateimageForm="ngForm">
          <p>(Mida recomanada 242x335)</p>
          <div class="form-group">
            <input type="file" (change)="fileChange($event)" placeholder="Selecionar foto" accept=".jpeg,.jpg,.png" name="image" required>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-success" [disabled]="!updateimageForm.form.valid">Actualitzar</button>
          </div>
      </form>
    </div>
  </div>
</div>

<app-footer-sortida></app-footer-sortida>
