.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
.navlink{
  color: #fcfcfc !important;
  font-size: 18px;
}
.custom-card {
  padding: 10px;
  margin-top: 20px;
  border: 0.5px solid #dedede;
  -webkit-box-shadow: 5px 5px 2px 2px rgba(222,222,222,1);
  -moz-box-shadow: 5px 5px 2px 2px rgba(222,222,222,1);
  box-shadow: 5px 5px 2px 2px rgba(222,222,222,1);
}
h4{
  background-color: #333;
  color: #fcfcfc;
  border-radius: 3px;
  border-color: #101010;
  padding: 10px;
  border: none;
  border-radius: 0px;
}
h5{
  font-weight: bold;
  font-size: 18px;
}

body{
  background-color: #fcfcfc !important;
  font-family: 'Roboto' !important;
}

.separador {
  height: 10%;
  margin-bottom: 12%;
}

.carousel-control {
  background: none !important;
}

.less-margin-right {
  margin-right: -10px;
}

/*
* Navbar
 */

.navbar.navbar-inverse {
  border-radius: 0px;
  border: none;
  border-color: #333;
  background-image: none;
  background-color: #333;
  margin-bottom: 5px;
  min-height: 40px;
}

.dropdown-menu a{
  font-size: 18px;
}
.dropdown-menu a:hover{
  color: #ff9300 !important;
  cursor: pointer;
}
.navlink:hover{
  color: #ff9300 !important;
  border-bottom: 1px solid #ff9300;
  border-radius: 0px;
}
/* Style all font awesome icons */
.fa {
  color: white !important;
}

/* Add a hover effect if you want */
.fa-twitter:hover {
  color: #55ACEE !important;
}

.fa-instagram:hover{
  background: #fbad50; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-135deg, #8a3ab9, #cd486b, #fbad50, #fccc63); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-135deg, #8a3ab9, #cd486b, #fbad50, #fccc63); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-135deg, #8a3ab9, #cd486b, #fbad50, #fccc63); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-135deg, #8a3ab9, #cd486b, #fbad50, #fccc63); /* Standard syntax */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
.navbar-toggle {
  padding: 12px 10px;
  margin: 0px;
}
@media screen and (min-width: 768px){
  .navbar .navbar-inner {
    padding: 0;
  }
  .navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
  }
  .navbar .nav > li {
    display: table-cell;
    width: 15%;
    float: none;
    text-align: center;
  }
  .dropdown:hover .dropdown-menu {
    position: absolute;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px){
  .dropdown:hover .dropdown-menu {
    position: relative;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0px;
    background-color: #fcfcfc;
    border-top-color: #ff9300;
    text-align: center;
  }
  .dropdown:hover .dropdown-menu li a {
    padding: 0px;
  }
  .dropdown:hover .dropdown-menu li.icons {
    width: 50%;
    display: inline-table;
  }
  .navbar .nav > li {
    text-align: center;
  }
  .navbar-inverse .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    margin-bottom: 20px;
  }
}

/*
* Inicio partidos
 */
.inicio {
  padding: 10px;
}
.inicio_partidos tbody{
  font-size: 12px;
  color: #101010;
  background-color: #f5f5f5;
}
.inicio_partidos .equip{
  width: 33% !important;
  vertical-align: middle;
}
.inicio_partidos .infor{
  width: 33% !important;
}
.inicio_partidos .result{
  font-size: 14px;
  font-weight: bold;
}
.inicio_partidos .menor{
  font-size: 11px;
}
.inicio_partidos ul li{
  border: none;
  border-radius: 0px;
}
.inicio_partidos li a{
  color: #333;
  font-size: 18px;
  border-radius: 0px !important;
  border: none !important;
}
.inicio_partidos h3 a:hover{
  text-decoration: none;
}
.inicio_partidos .nav-tabs li a:hover{
  color: #ff9300;
}
.inicio_partidos .nav-tabs li.active a{
  border-top: 0.5px solid #dedede !important;
  border-left: 0.5px solid #dedede !important;
  border-right: 0.5px solid #dedede !important;
  color: #ff9300;
  background-color: #f5f5f5 !important;
}
.inicio_partidos .nav-tabs li a{
  margin-bottom: 0px;
}
.inicio_partidos .tab-pane table {
  border: #333 !important;
}

@media screen and (max-width: 768px){
  .inicio_partidos .nav-tabs li.active a{
    border-bottom: 0.5px solid #dedede !important;
  }
}
