<div class="container-fluid">
  <div class="cronica custom-card" *ngFor="let equipo of equipos">
    <h4 class="text-left">
      {{equipo.nombre}}
      <span (click)="addCronica(equipo._id)" class="glyphicon glyphicon-plus"></span>
    </h4>
    <table class="table table-striped table-cronicas">
      <thead>
      <tr>
        <th>Local</th>
        <th>Resultat</th>
        <th>Visitant</th>
        <th>Jornada</th>
        <th>Data de creació</th>
        <th>Accions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cronica of equipo.cronicas">
        <td>{{cronica.local}}</td>
        <td>{{cronica.resultado}}</td>
        <td>{{cronica.visitante}}</td>
        <td>{{cronica.jornada}}</td>
        <td>{{cronica.fecha_creacion}}</td>
        <td>
          <a class="edit" (click)="editCronica(cronica._id, equipo._id)"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="delete" (click)="deleteCronica(cronica._id, equipo._id)"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer-sortida></app-footer-sortida>
