<div class="row less-margin-right">
  <div class="col-md-11">
    <div class="col-md-3 col-md-offset-1 custom-card">
      <h4 class="text-center">
        Primera equipació
      </h4>
      <img class="img-responsive" src="../../../assets/images/1ec.jpg" alt="equipació_1">
    </div>
    <div class="col-md-3 col-md-offset-1 custom-card">
      <h4 class="text-center">
        Segona equipació
      </h4>
      <img class="img-responsive" src="../../../assets/images/2ec.jpg" alt="equipació_2">
    </div>
    <div class="col-md-3 col-md-offset-1 custom-card">
      <h4 class="text-center">
        Porters
      </h4>
      <img class="img-responsive" src="../../../assets/images/ec_por.jpg" alt="equipació_porters">
    </div>
  </div>
</div>

<app-footer-acceso></app-footer-acceso>
