<div class="row">
  <div class="col-md-3 col-md-offset-2">
    <div class="well" style="height: auto; margin-left: 5px; margin-right: 5px;">
      <h4 class="text-center">
        Primera equipació
      </h4>
      <img class="img-responsive" src="../../../assets/images/1ec.jpg" alt="equipació_1">
    </div>
  </div>
  <div class="col-md-3">
    <div class="well" style="height: auto; margin-left: 5px; margin-right: 5px;">
      <h4 class="text-center">
        Segona equipació
      </h4>
      <img class="img-responsive" src="../../../assets/images/2ec.jpg" alt="equipació_2">
    </div>
  </div>
  <div class="col-md-3">
    <div class="well" style="height: auto; margin-left: 5px; margin-right: 5px;">
      <h4 class="text-center">
        Porters
      </h4>
      <img class="img-responsive" src="../../../assets/images/ec_por.jpg" alt="equipació_2">
    </div>
  </div>
</div>

<app-footer-acceso></app-footer-acceso>
