<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well" style="height: auto; margin-left: 5px; margin-right: 5px;">
      <h4 class="text-center">
        Instal·lacions
      </h4>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">


        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>


        <div class="carousel-inner">
          <div class="item active">
            <img class="img-responsive" src="../../../assets/images/aristides-28.jpg">
          </div>

          <div class="item">
            <img class="img-responsive" src="../../../assets/images/aristides.jpg"/>
          </div>

          <div class="item">
            <img class="img-responsive" src="../../../assets/images/installacions-02.jpg"/>
          </div>

          <div class="item">
            <img class="img-responsive" src="../../../assets/images/poliesportiva-baixa.jpg"/>
          </div>
        </div>


        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Següent</span>
        </a>
      </div>
      <a href="#/contacte">
        <h3 class="text-center">
      <span class="label label-primary">
        Vine a veure'ns
      </span>
        </h3>
      </a>
    </div>
  </div>
</div>

<app-footer-acceso></app-footer-acceso>
