h6{
  background-color: #333;
  color: #fcfcfc;
  border-radius: 3px;
  border-color: #101010;
  padding: 5px;
}
#dorsal{
  background-color: transparent;
  color: #fcfcfc;
  border-radius: 3px;
}

@media  screen and (min-width: 992px) {
  #small_amon {
  }
}

@media  screen and (max-width: 992px) {
  #small_amon {
    display: inline-block;
    width: 33% !important;
  }
}
