<div class="row">
  <div class="col-md-12">
    <table class="table" id="resultados">
      <tbody>
      <tr *ngFor="let j of jugadores, let index = index">
        <td style=" text-align: left !important;"><i class="c{{index}} fa fa-trophy fa-2x"></i></td>
        <td><strong>{{j.apodo}}</strong></td>
        <td><strong>{{j.equipo}}</strong></td>
        <td>
          <strong>{{j.estadisticas.amarillas}}</strong>  <i style="color: yellow !important;" class="fa fa-square"></i>
        </td>
        <td>
          <strong>{{j.estadisticas.rojas}}</strong>  <i style="color: red !important;" class="fa fa-square"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
