<ul class="nav nav-tabs nav-justified">
  <li class="active"><a data-toggle="pill" href="#plantilla">Plantilla</a></li>
  <li><a data-toggle="pill" href="#class">Classificació i resultats</a></li>
  <li><a data-toggle="pill" href="#stats">Estadístiques</a></li>
  <li><a data-toggle="pill" href="#cal">Calendari</a></li>
</ul>

<div class="tab-content" style="padding-top: 10px;">
  <div id="plantilla" class="tab-pane fade in active">
    <app-plantilla></app-plantilla>
  </div>
  <div id="class" class="tab-pane fade">
    <app-resultados></app-resultados>
  </div>
  <div id="stats" class="tab-pane fade">
    <h3>Estadístiques</h3>
  </div>
  <div id="cal" class="tab-pane fade">
    <app-calendario></app-calendario>
  </div>
</div>

<app-footer-acceso></app-footer-acceso>
